.card {
  box-shadow: 0 20px 30px -13px #00000066;

  img.card-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.thumbIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  g {
    transition: 0.2s;
  }
}
.thumbIconFill {
  animation-name: animated;
  animation-duration: 0.5s;
  g {
    fill: #3274db;
  }
}

.card-link {
  cursor: pointer;
}

.gradient-background {
  min-height: 100vh;
  background: linear-gradient(
    62deg,
    #ee775296,
    #e73c7e78,
    #23a6d53b,
    #23d5ab8f
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animated {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
